*{
    margin:0;
    Padding:0;
    }
    html,body {
        background-color: black;
        color: orange;
        font-family: gilroy;
    }
    
    .container {
        width: 300px;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
    }
    
    input, button {
        background-color: orange;
        color: black;
        border: none;
        padding: 10px;
        margin-top: 10px;
        cursor: pointer;
    }
    
    input:hover, button:hover {
        background-color: darkorange;
    }
    
    #result {
        margin-top: 20px;
        font-size: 20px;
    }
